.App {
  text-align: center;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.radio-button-container {
  margin: 16px 0 0 0;
}

.radio-button-label {
  margin-left: 2px;
}

.submit-button-container {
  margin: 32px 0;
}